<h1 align=center><font size=5>Applied Data Science Capstone</font></h1>

This notebook will be used for the capstone project on Coursera.<hr>

In [1]:
#Impoty of libraries
import pandas as pd
import numpy as np

In [2]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [3]:
html_page = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfs = pd.read_html(html_page)

In [4]:
df = dfs[0]
df.describe()
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

1. Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [5]:
#Exclude boroughs with values "Not assigned"
df = df[df['Borough']!='Not assigned']
df_backup = df

In [6]:
# Resetting the index
df.index = range(len(df.index))
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [8]:
idx_to_change = df.loc[df['Neighbourhood'] == "Not assigned"].index

# Iterate the list of indicies and set Column2 to the value of Column1 at the given index
for i in idx_to_change:
    df.iloc[i, 2] = df.iloc[i, 1] 
df.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [9]:
# Merging rows with same Postalcode

df1= df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(list)
df2= df1.sample(frac=1).reset_index()
df2['Neighbourhood'] = df2['Neighbourhood'].str.join(', ')
df2.head()

,Postcode,Borough,Neighbourhood
0,M4C,East York,Woodbine Heights
1,M9L,North York,Humber Summit
2,M6G,Downtown Toronto,Christie
3,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So..."
4,M3J,North York,"Northwood Park, York University"

In [10]:
print(df2.shape)

(103, 3)